*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #001731;
}

main{
    width: 50%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: #7D8A96;
    margin: 2rem;
}

h2 {
    text-align: center;
    color: white;
    margin-bottom: 1rem;
}

section{
    background-color: white;
    padding: 15px;
}

div{
    margin-right: 7rem;
}

p{
    padding: 15px;
    background-color: #CFF4FC;
    color: #2b6d7c;
}